<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reservation</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <div class="sites" data-target="0">Paris</div>
        <div class="sites" data-target="100">Lyon</div>
        <div class="animation start-home"></div>
    </nav>

    <div class="container x mandatory-scroll-snapping" id="weekSelector"></div>
    
    <div class="change_rectangle" id="modifierButton">M'enregistrer</div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
